dsl/Email Automation (1).yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: Email Automation
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/mistralai:0.0.4@4684c02e639dc144cb36da33bb0ae7e69ec6996c63d2a6f157f8f3264bbc24bc
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.8@aae2be0913b8c6f0b80cff58e08d7a8b4c214569b41778413fcaea204561ff16
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: llm
        targetType: answer
      id: llm-answer
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    - data:
        isInLoop: false
        sourceType: start
        targetType: question-classifier
      id: 1765732935916-source-1765732962890-target
      source: '1765732935916'
      sourceHandle: source
      target: '1765732962890'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1765732962890-1-1765732952779-target
      source: '1765732962890'
      sourceHandle: '1'
      target: '1765732952779'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1765732962890-2-1765732952779-target
      source: '1765732962890'
      sourceHandle: '2'
      target: '1765732952779'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1765732962890-1765732992837-1765732952779-target
      source: '1765732962890'
      sourceHandle: '1765732992837'
      target: '1765732952779'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1765732962890-1765732993977-1765732952779-target
      source: '1765732962890'
      sourceHandle: '1765732993977'
      target: '1765732952779'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1765732952779-source-llm-target
      source: '1765732952779'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables:
        - default: ''
          hint: ''
          label: customer_name
          max_length: 48
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: customer_name
        - default: ''
          hint: ''
          label: email_topic
          max_length: 100
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: email_topic
        - default: ''
          hint: ''
          label: email_body
          max_length: 5000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: email_body
      height: 161
      id: '1765732935916'
      position:
        x: -19
        y: 249
      positionAbsolute:
        x: -19
        y: 249
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1765732952779'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: ministral-8b-latest
          provider: langgenius/mistralai/mistralai
        prompt_template:
        - edition_type: basic
          id: 322b5bd2-f971-4435-9650-4a09efcf62cd
          role: system
          text: 'You are a professional customer support assistant for **Acme Company**,
            known for clear, friendly, and accurate communication.


            Your task is to:

            - Read the customer’s email.

            - Review the company’s internal knowledge base context (below).

            - Use that information to write a factual, helpful, and natural reply
            that addresses the customer’s request.---

            **Customer email:**

            {{#1765732935916.email_body#}}


            ---

            **Relevant company knowledge (flattened text):**

            {% for item in {{#context#}} %}

            {{ item.text }}

            {% endfor %}


            ---

            ### Reply Instructions:

            - Greet the customer by {{#1765732935916.customer_name#}}  if possible
            (use “there” if no name provided).

            - Acknowledge their issue in natural language.

            - Use factual details from the knowledge above.

            - End with:

              “Best,  

              The Acme Support Team”


            Only return the final email body.

            '
        selected: true
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: llm
      position:
        x: 873
        y: 282
      positionAbsolute:
        x: 873
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#llm.text#}}'
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 102
      id: answer
      position:
        x: 1171
        y: 282
      positionAbsolute:
        x: 1171
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - nbpJv3C88sSPuBstg3ZFhTEK1avez58aDCR1raze3tbPYitdzsSKHcu34YSJZmkj
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: langgenius/openai/openai
              vector_weight: 1
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1765732935916'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval
        type: knowledge-retrieval
      height: 90
      id: '1765732952779'
      position:
        x: 573
        y: 282
      positionAbsolute:
        x: 573
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1'
          name: 'Shipping / Delivery Issues

            Emails mentioning late packages, shipping delays, tracking issues, or
            delivery status.

            Examples: "Hasn''t arrived", "tracking number missing", "delayed shipment".

            '
        - id: '2'
          name: 'Refund / Return / Exchange

            Emails asking for a refund, return, or exchange.

            Examples: "want a refund", "return my order", "doesn''t fit".

            '
        - id: '1765732992837'
          name: 'Product Details / Compatibility / Availability

            Emails asking about product details, usage, or availability.

            Examples: "how tall is it", "is it compatible", "what''s included".

            '
        - id: '1765732993977'
          name: 'General / Other

            Emails that are generic or unclear requests that don’t fall under the
            above categories.

            '
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: ministral-8b-latest
          provider: langgenius/mistralai/mistralai
        query_variable_selector:
        - sys
        - query
        selected: false
        title: Question Classifier
        type: question-classifier
        vision:
          enabled: false
      height: 246
      id: '1765732962890'
      position:
        x: 287
        y: 270
      positionAbsolute:
        x: 287
        y: 270
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -386.7846159102223
      y: 133.564560974374
      zoom: 0.757858283255199
  rag_pipeline_variables: []
